---
baseURL: https://blog.ipspace.net/
languageCode: en-us
title: ipSpace.net blog
theme: ipspace
summarylength: 3000
#uglyurls: true
paginate: 15

author:
  name: Ivan Pepelnjak

permalinks:
  posts: "/:year/:month/:filename"
  eigrp: "/eigrp/:filename"
  draft: "/draft/:filename"
  archm: "/:year/:month/"
  archy: "/:year/"
  tags: "/tag/:title"
  pages: "/p/:title"

taxonomies:
  tag: tags
  series: series

services:
  rss:
    limit: 1024

outputs:
  home: [ html, atom, rss ]
  section: [ html ]
  term: [ html, atom ]

params:
  feedSections: [ posts ]
  notags:
  - Workshop
  - Podcast
  - Training
  - workshop
  - podcast
  - training
  - "You've asked for it"
  - "you've asked for it"
  - "Gestalt IT"
  - marketing
  - Subscription
  - Video
  - subscription
  - video

markup:
  tableOfContents:
    endLevel: 3
    ordered: false
    startLevel: 2
  goldmark:
    parser:
      attribute:
        block: true
