@mixin flex-unit($responsive, $min, $max: false, $fallback: false, $prop: font-size) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == "vh", "height", "width");
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    #{$prop}: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      #{$prop}: $max;
    }
  }

  @if $fallback {
    #{$prop}: $fallback;
  }

  #{$prop}: $responsive;
}
