{{ if .Params.kb_section }}
{{   $data := index .Site.Data "kb" }}
{{   $data := index $data .Params.kb_section }}
{{   if $data }}
{{     with index $data "bottom" }}
{{       . | markdownify }}
{{     end }}
{{   end }}
{{   $pages := .Parent.Pages }}
{{   $pages := where $pages "Params.kb_section" .Params.kb_section }}
{{   $pages := where $pages "File.Filename" ">" .File.Filename }}
{{   if $pages|len }}
{{     range first 1 (sort $pages "File.Filename") }}
      <div class="nextPage">
        <p class="jump-link"><a href="{{ .Permalink }}" title="{{ .Title }}">Continue</a></p>
        <p>Next: <a href="{{ .Permalink }}">{{ .Title }}</a></p>
      </div>
{{     end }}
{{   end }}
{{   if $data }}
{{     with index $data "more_bottom" }}
{{       . | markdownify }}
{{     end }}
{{   end }}
{{ end }}
