{% macro cblock(clist) %}
  <ol>
    {% for cmt in clist %}
      <div>
        <li class="comment" id="{{ cmt.id }}">
          <div class="comment-block">
            <div class="comment-header">
              <cite class="user"><a href="{{ cmt.profile if cmt.profile is not none and '//' in cmt.profile and not '///' in cmt.profile else ''}}" rel="nofollow">{{ cmt.name }}</a></cite>
              <span class="datetime secondary-text">
                <a rel="nofollow" id="c{{ cmt.id }}" href="#{{ cmt.id }}">{{ cmt.date }}</a>
              </span>
            </div>
            <div class="comment-content">{{ cmt.html }}</div>
            {% if cmt.comments is defined %}
              <div class="comment-replies">
                <div class="comment-thread inline-thread">
                  <span class="thread-count"><a>Replies</a></span>
                  {{ cblock(cmt.comments) }}
                </div>
              </div>
            {% endif %}
          </div>
        </li>
      </div>
    {% endfor %}
  </ol>
{% endmacro %}
{% if count %}
<div class="comments post" id="comments">
  <h4>{{ count }} comments:</h4>
  <div class="comments-content">
    <div class="comment-thread">
      {{ cblock(comments) }}
    </div>
  </div>
</div>
{% endif %}
