<footer class='page-footer'>
  <div class='footer-main'>
    <div class='container'>
      <div class='page-footer__author'>
        <h3>The author</h3>
        <img alt='Ivan Pepelnjak Photo' src='/v3/images/picture_ivan_footer_big_screen.jpg'
          srcset='/v3/images/picture_ivan_footer_big_screen.jpg 1x, /v3/images/picture_ivan_footer_big_screen_2x.jpg 2x' />
        <p class='page-footer__text'>Ivan Pepelnjak (CCIE#1354 Emeritus), Independent Network Architect at ipSpace.net,
          has been designing and implementing large-scale data communications networks as well as teaching and writing
          books about advanced internetworking technologies since 1990.</p>
        <a class='social-icon' href='https://www.ipspace.net/About'>
          <svg class='page-footer__icon'>
            <use xlink:href='#icon-person'></use>
          </svg>
        </a>
        <a class='social-icon' href='https://twitter.com/ioshints'>
          <svg class='page-footer__icon'>
            <use xlink:href='#icon-twitter'></use>
          </svg>
        </a>
        <a class='social-icon' href='https://www.linkedin.com/in/ivanpepelnjak/'>
          <svg class='page-footer__icon'>
            <use xlink:href='#icon-linkedin'></use>
          </svg>
        </a>
      </div>
      <div class='page-footer__column-wrp'>
        <div class='page-footer__links more-content'>
          <h3>More content</h3>
          <ul>
            <li><a href='https://www.ipspace.net/Webinars'>Webinars</a></li>
            <li><a href='https://www.ipspace.net/Podcasts'>Podcasts</a></li>
            <li><a href='https://www.ipspace.net/Books'>Books</a></li>
            <li><a href='https://blog.ipspace.net/kb'>Articles</a></li>
            <li><a href='https://www.ipspace.net/Presentations'>Presentations</a></li>
          </ul>
        </div>
        <div class='page-footer__links shortcuts'>
          <h3>Shortcuts</h3>
          <ul>
            <li><a href='https://www.ipspace.net'>Home</a></li>
            <li><a href='https://blog.ipspace.net'>Blog</a></li>
            <li><a href='http://content.ipspace.net'>Even more content</a></li>
            <li><a href='https://www.ipspace.net/Contact'>Contact</a></li>
          </ul>
        </div>
        <div class='page-footer__links subscribe-links'>
          <h3 class='page-footer__title'>Subscribe to</h3>
          <ul>
            <li>
              <a class='page-footer__link subscribe' href='http://feed.ipspace.net/blog/'>
                <svg class='page-footer__icon-sm'>
                  <use xlink:href='#icon-rss'></use>
                </svg>
                Blog posts
              </a>
            </li>
            <li>
              <a class='page-footer__link subscribe' href='http://feed.ipspace.net/podcast/software.gone.wild'>
                <svg class='page-footer__icon-sm'>
                  <use xlink:href='#icon-rss'></use>
                </svg>
                Software Gone Wild podcast
              </a>
            </li>
            <li>
              <a class='page-footer__link subscribe' href='http://feed.ipspace.net/podcast/'>
                <svg class='page-footer__icon-sm'>
                  <use xlink:href='#icon-rss'></use>
                </svg>
                Videos
              </a>
            </li>
            <li>
              <a class='page-footer__link subscribe' href='http://www.ipspace.net/Subscribe/Five_SDN_Tips'>
                <svg class='page-footer__icon-sm'>
                  <use xlink:href='#icon-mailinglist'></use>
                </svg>
                SDN mailing list
              </a>
            </li>
            <li>
              <a class='page-footer__link subscribe'
                href='https://twitter.com/intent/follow?screen_name=ioshints&tw_p=followbutton'>
                <svg class='page-footer__icon-sm'>
                  <use xlink:href='#icon-twitter'></use>
                </svg>
                Follow @ioshints
              </a>
            </li>
          </ul>
        </div>
        <div class='page-footer__disclaimer'>
          <h3 class='page-footer__title'>Disclaimer</h3>
          <p class='footer-main__text'>The opinions expressed in individual articles, blog posts, videos or webinars are
            entirely the author&#8217;s opinions.</p>
          <a class='page-footer__btn more-btn-sm white'
            href='http://www.ipspace.net/About_Ivan_Pepelnjak#Disclaimer'>Read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class='footer-copyright'>
    <div class='container'>
      <p class='footer-copyright__text'>
        Copyright 2006 - {{ .Site.LastChange.Format "2006" }} ipSpace.net AG
      </p>
    </div>
  </div>
</footer>