<ul class='nav-links'>
<!--
  <li><a href='https://www.ipspace.net/Subscription'>subscriptions</a>
    <ul>
      <li><a href='https://www.ipspace.net/Subscription/Individual'>individual</a></li>
      <li><a href='https://www.ipspace.net/Subscription/Teams'>team</a></li>
      <li><a href='https://www.ipspace.net/Subscription/Free'>free</a></li>
      <li><a href='https://www.ipspace.net/Manual:Subscription/FAQ'>frequent questions</a></li>
    </ul>
  </li>
-->
<!--
  <li><a href='https://www.ipspace.net/Consulting'>consulting</a>
    <ul>
      <li><a href='https://www.ipspace.net/ExpertExpress'>ExpertExpress</a></li>
      <li><a href='https://www.ipspace.net/ExpertExpress_Case_Studies'>case studies</a></li>
      <li><a href='https://www.ipspace.net/Contact#Consulting'>contact</a></li>
    </ul>
  </li>
-->
  <li><a href="https://www.ipspace.net/">home</a></li>
  <li><a class='nav-links__anchor current' href='/'>blog</a></li>
  <li><a href='https://www.ipspace.net/Free'>resources</a>
    <ul>
      <li><a href="https://blog.ipspace.net/series/">technology resources</a></li>
      <li><a href="https://blog.ipspace.net/kb/">articles</a></li>
      <li><a href="https://www.ipspace.net/Podcast">Software Gone Wild podcast</a></li>
      <li><a href="https://www.ipspace.net/Books">books</a></li>
      <li><a href="https://www.ipspace.net/Subscription/Free">videos</a></li>
      <hr>
      <li><a href="https://github.com/ipspace/netlab-examples">netlab examples</a></li>
      <li><a href="https://github.com/ipspace/NetOpsWorkshop">automation examples</a></li>
      <li><a href="https://github.com/ipspace/pubcloud">AWS and Azure examples</a></li>
      <li><a href="https://github.com/ipspace/ansible-examples">Ansible Examples</a></li>
      <hr>
      <li><a href='https://www.ipspace.net/Presentations'>events and conferences</a></li>
      <li><a href='https://www.ipspace.net/Interviews'>interviews</a></li>
    </ul>
  </li>
  <li><a>labs</a>
    <ul>
      <li><a href="https://netlab.tools/">build a virtual lab</a></li></li>
      <li><a href="https://bgplabs.net/">BGP configuration labs</a></li>
      <li><a href="https://isis.bgplabs.net/">IS-IS configuration labs</a></li>
      <li><a href="https://ipspace.github.io/netops-labs/">network automation</a></li>
      <li><a href="https://ipspace.github.io/cloud-labs/">public cloud</a></li>
      <li><a href="https://ipspace.github.io/dc-labs/">data center</a></li>
    </ul>
  </li>
<!--
  <li><a href='https://www.ipspace.net/Training'>training</a>
    <ul>
      <li><a href='https://www.ipspace.net/Courses'>online courses</a></li>
      <li><a href='https://www.ipspace.net/Webinars'>webinars</a></li>
      <li><a href='https://www.ipspace.net/Workshops'>workshops</a></li>
      <li><a href='https://www.ipspace.net/Webinar_roadmaps'>technology areas and roadmaps</a></li>
    </ul>
  </li>
-->
  <li><a href='https://www.ipspace.net/About'>about</a>
    <ul>
      <li><a href="https://www.ipspace.net/About">ipSpace.net</a></li>
      <li><a href="https://www.ipspace.net/About_Ivan_Pepelnjak">Ivan Pepelnjak</a></li>
      <li><a href="https://www.ipspace.net/Authors">webinar and course authors</a></li>
      <li><a href="https://www.ipspace.net/ExpertExpress">ExpertExpress team</a></li>
      <!-- <li><a href="https://www.ipspace.net/Podcast/Software_Gone_Wild/About">podcast hosts</a></li> -->
      <hr>
      <li><a href='https://www.ipspace.net/About/ipSpace.net/Contact'>company information</a></li>
      <li><a href='https://www.ipspace.net/Contact'>contact</a></li>
    </ul>
  </li>
</ul>