<!DOCTYPE html>
<head prefix="og: http://ogp.me/ns#">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <link href='https://www.ipspace.net/v3/images/favicon.ico' rel='shortcut icon' />
    <link href='https://www.ipspace.net/v3/images/favicon.gif' rel='shortcut icon' type='image/gif' />
    <link href="{{ .Permalink }}" rel='canonical' />
    <link rel="alternate" type="application/atom+xml" title="ipSpace.net - Atom" href="https://feed.ipspace.net/blog/" />
    <link rel="alternate" type="application/rss+xml" title="ipSpace.net - RSS" href="https://feed.ipspace.net/blog/?rss=1" />
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

    <title>{{ with .Params.page_title }}{{ . }}{{ else }}{{ .Title }}{{ end }} &#171; ipSpace.net blog</title>
    {{ partial "opengraph.html" . }}
{{ with .Params.redirect }}
    <meta http-equiv="refresh" content="0; url={{ . }}" />
{{ end }}
    <meta charset='utf-8' />
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <meta name="robots" content="index,follow">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6QXQ4E49M4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6QXQ4E49M4');
    </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1548181-5', {'cookieDomain':'ipspace.net' });
    ga('set','page',location.pathname);
    ga('set','hostname',location.hostname);
    ga('send', 'pageview');
    </script>
    <meta content='FUQymnDatq44UrO4gTTRKg3IOCQeDMxn908Dzz1COIc=' name='verify-v1' />
    <meta content='CCLaRRXMU-3mswfRgpc9tftgdHo' name='alexaVerifyID' />
    <meta content='1W8ShlNamtMCA6xdfRs9f_8Tl0ZtLF8oezcQ45ZYpIk' name='google-site-verification' />
    <link href='https://www.ipspace.net/v3/css/blog.css?rev=13' rel='stylesheet' type='text/css' />
    <style>.footnoteNumber { display: none; }</style>
    <style>svg { display: none }</style>
    {{ partial "extra-in-head.html" . }}
    {{ partial "fathom.html" . }}
    {{ if .OutputFormats.Get "RSS" }}
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml">
    {{ end }}
</head>
<body>
    {{ partial "body-svg.html" }}
    {{ partial "body-header.html" }}
    {{ partial "body-banner.html" }}
    <div class='page-main-wrp'>
        <div class='container main'>
            <div class='page-content'>
                <div class='main section' id='main'>
                    <div class='blog-posts'>
