<div class='post__item'>
  <article class='post' itemscope='' itemtype='http://schema.org/BlogPosting'>
    <header class='post__header'>
      <h1 class='post__title firstHeading' itemprop='name headline'>
        <a href="{{ .Permalink }}">{{ if .Params.page_title }}{{ .Params.page_title }}{{ else }}{{ .Title }}{{ end }}</a>
      </h1>
      {{ with .Params.subtitle }}
        <p class='subtitle'>{{ . }}</p>
      {{ else }}
        <p class="crumbs post__content"><a href="/">blog</a> » <a href="/{{ .Section }}/">{{ .Section }}</a> » {{ .Title }}</p>
      {{ end }}
    </header>
    <div class='post__content' itemprop='articleBody'>
      {{ .Content }}
    </div>
    <div style='clear: both;'></div>
    <!-- comments -->
    <div class='post__meta'>
      {{ partial "post-share.html" . }}
      {{ with .Params.media }}
        <audio src="{{ . }}" controls="controls" preload="none"></audio>
      {{ end }}
      {{ partial "post-tags.html" . }}
    </div>
  </article>
</div>