{{ if and .Params.series (not (.Page.Scratch.Get "series")) }}
  {{ $series := cond (reflect.IsSlice .Params.series) (index .Params.series 0) .Params.series }}
  {{ $me := .Permalink }}
  {{ $scr:= newScratch }}
  {{ $serurl:= (printf "/series/%s" ( $series | urlize )) }}
  {{ with ($.Site.GetPage $serurl) }}
    {{ if gt (len .Pages) 1 }}
      {{ $scr.Set "pages" .Pages.Reverse }}
      {{ $scr.Set "intro" "Blog posts" }}
      {{ if gt (len .Pages) 10 }}
        {{ $scr.Set "pages" (first 10 .Pages) }}
        {{ $scr.Set "intro" "Latest blog posts" }}
      {{ end }}
<div class="post__content" style='border-bottom: 1px solid #e8e8e8; padding-bottom: 1em;'>
  <h3>{{ $scr.Get "intro" }} in {{ if in .Title " "}}<a href="{{ $serurl }}/">{{.Title}}</a>{{else}}this{{end}} series</h3>
  <div id="related_posts">
      <ul>
        {{ range ($scr.Get "pages") }}
          <li>
            {{ if eq .Permalink $me }}
              {{ .Title }} (this post)
            {{ else }}
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
  </div>
      {{ if gt (len .Pages) 10 }}
  <div class='jump-link'>
    <a href="{{ $serurl }}/">More blog posts in this series</a>
  </div>
      {{ end }}
</div>
    {{ end }}
  {{ end }}
{{ end }}