{{ if and .Params.series (not (.Page.Scratch.Get "series")) }}
  {{ $me := .Permalink }}
  {{ $scr:= newScratch }}
  {{ with ($.Site.GetPage (printf "/series/%s" ( .Params.series | urlize ))) }}
    {{ if gt (len .Pages) 1 }}
<div class="post__content">
  <h3>Blog posts in this series</h3>
  <div id="related_posts">
      <ul>
        {{ range (.Pages).Reverse }}
          <li>
            {{ if eq .Permalink $me }}
              {{ .Title }} (this post)
            {{ else }}
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
  </div>
</div>
    {{ end }}
  {{ end }}
{{ end }}