{{ $base := replace (printf "%s%s.html" .Page.File.Dir .Page.File.BaseFileName) "posts" "/comments" }}
{{ if (fileExists $base) }}
  {{ $base | readFile | safeHTML }}
{{ else }}
<div class="comments post" id="comments">
</div>
{{ end }}
<div class='post post__content' id='post__comment-form'>
  <a class="post__comment-link post__comment-add">
    <svg class="post__comments-icon"><use xlink:href="#icon-comments"></use></svg>Add comment
  </a>
</div>
<!--
<div class='post'>
  <p class="info">
    We migrated our blog a few days ago, and the commenting functionality is not there yet.
    In the meantime please
    <a href='https://www.linkedin.com/in/ivanpepelnjak/detail/recent-activity/'>find our content on LinkedIn</a> and comment there.
  </p>
</div>
-->
