<div class='post__share-links'>
  {{ $url :=  (or .Params.redirect .Permalink)|absURL }}
  {{ $title := (printf "%s by @ioshints" .Title)|safeURL }}
  {{ $tweet := printf "https://twitter.com/intent/tweet?text=%s&url=%s" $title $url }}
  <a class='post__share-link' href='{{ $tweet }}' target='_blank' title='Share to Twitter'>
    <svg class='post__share-icon'>
      <use xlink:href='#icon-twitter'></use>
    </svg>
  </a>
  {{ $title := (printf "%s by @Ivan Pepelnjak" .Title)|safeURL }}
  {{ $ln := printf "https://www.linkedin.com/shareArticle?mini=true&url=%s&title=%s" $url $title }}
  <a class='post__share-link' href='{{ $ln }}' target='_blank' title='Share to LinkedIn'>
    <svg class='post__share-icon'>
      <use xlink:href='#icon-linkedin'></use>
    </svg>
  </a>
  {{ $fb := printf "https://www.facebook.com/sharer/sharer.php?u=%s" $url }}
  <a class='post__share-link' href='{{ $fb }}' target='_blank' title='Share to Facebook'
    onclick='window.open(this.href, "_blank", "height=430,width=640"); return false;' target='_blank'
    title='Share to Facebook'>
    <svg class='post__share-icon'>
      <use xlink:href='#icon-facebook'></use>
    </svg>
  </a>
  {{ with .File }}
  {{   $gitlab := printf "https://github.com/ipspace/blog/blob/master/content/%s" .Path }}
  <a class='post__share-link' href='{{ $gitlab }}' target='_blank' title='GitHub Source'>
    <svg class='post__share-icon'>
      <use xlink:href='#icon-github'></use>
    </svg>
  </a>
  {{ end }}
</div>
