{{ $full := .Scratch.Get "ArticleContext" }}
<div class='post__item'>
  <article class='post' itemscope='' itemtype='http://schema.org/BlogPosting'>
    {{ partial "post-header.html" . }}
    <div class='post__content' itemprop='articleBody'>
      {{ if .Params.intro }}
        {{ $intro_expires := time.AsTime (index .Params "intro_expires" | default "2100-01-01") }}
        {{ if gt $intro_expires (time.Now) }}
          <div class="long-quote" style="font-style: italic;">
            {{ .Params.intro|markdownify }}
          </div>
        {{ end}}
      {{ end }}
      {{ $truncated := and (or .Truncated .Params.summary) (not $full) }}
      {{ if $truncated }}
        {{ if .Params.summary }}
          {{ .Params.summary|markdownify }}
        {{ else }}
          {{ .Summary }}
        {{ end }}
      {{ else }}
        {{ if and $full .Truncated (and .File (eq .File.Ext "html")) }}
          {{ .Summary }}
        {{ end }}
        {{ .Content }}
      {{ end }}
    </div>
    {{ if or $truncated .Params.redirect }}
      <a class="post__read-more" href="{{ or .Params.redirect .RelPermalink }}">
        {{ with .Params.redirect }}keep reading{{ else }}read more{{ end }}
        <svg class="post__arrow-icon">
          <use xlink:href="#arrow-right-orange" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
    {{ end }}
    {{ if not $full }}
      {{ $url := urls.Parse .Permalink }}
      {{ $plink := .Permalink }}
      {{ $cpath := printf "%s.html" (strings.TrimSuffix "/" $url.Path) }}
      {{ with index .Site.Data.comment_count $cpath }}
        <a class="post__comment-link" href="{{ $plink }}#comments">
          <svg class="post__comments-icon">
            <use xlink:href="#icon-comments"></use>
          </svg>
            see {{ . }} comments
        </a>
      {{ else }}
        {{ if (not .Params.redirect) }}
        <a class="post__comment-link" href="{{ $plink }}#comments">
          <svg class="post__comments-icon">
            <use xlink:href="#icon-comments"></use>
          </svg>
            add comment
        </a>
        {{ end }}
      {{ end }}
    {{ else }}
    {{ end }}
    <div style='clear: both;'></div>
    <!-- comments -->
    <div class='post__meta'>
      {{ partial "post-share.html" . }}
      {{ with .Params.media }}
        <audio src="{{ . }}" controls="controls" preload="none"></audio>
      {{ end }}
      {{ partial "post-tags.html" . }}
    </div>
  </article>
</div>