{{ $full := .Scratch.Get "ArticleContext" }}
<div class='post__item'>
  <article class='post' itemscope='' itemtype='http://schema.org/BlogPosting'>
    <header class='post__header'>
      <p class='post__date'>
        <a class='timestamp-link' href="{{ .Permalink }}" title='permanent link'>
          <time datetime='{{ .Date.Format "Monday, January 2, 2006 15:04 MST" }}' itemprop='datePublished'>
            {{ .Date.Format "Monday, January 2, 2006 15:04 MST" }}</time>
        </a>
      </p>
      <h2 class='post__title' itemprop='name headline'>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
    </header>
    <div class='post__content' itemprop='articleBody'>
      {{ $truncated := and .Truncated (not $full) }}
      {{ if $truncated }}
        {{ .Summary }}
      {{ else }}
        {{ if and $full .Truncated (and .File (eq .File.Extension "html")) }}
          {{ .Summary }}
        {{ end }}
        {{ .Content }}
      {{ end }}
    </div>
    {{ if $truncated }}
      <a class="post__read-more" href="{{ .RelPermalink }}">
        read more
        <svg class="post__arrow-icon">
          <use xlink:href="#arrow-right-orange" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
    {{ end }}
    {{ if not $full }}
      {{ $url := urls.Parse .Permalink }}
      {{ $plink := .Permalink }}
      {{ with index .Site.Data.comment_count $url.Path }}
        <a class="post__comment-link" href="{{ $plink }}#comments">
          <svg class="post__comments-icon">
            <use xlink:href="#icon-comments"></use>
          </svg>
            see {{ . }} comments
        </a>
      {{ end }}
    {{ end }}
    <div style='clear: both;'></div>
    <!-- comments -->
    <div class='post__meta'>
      {{ partial "post-tags.html" . }}
      <div class='post__share-links'>
        {{ $url :=  .Permalink|safeURL }}
        {{ $title := (printf "%s by @ioshints" .Title)|safeURL }}
        {{ $tweet := printf "https://twitter.com/intent/tweet?text=%s&url=%s" $title $url }}
        <a class='post__share-link' href='{{ $tweet }}' target='_blank' title='Share to Twitter'>
          <svg class='post__share-icon'>
            <use xlink:href='#icon-twitter'></use>
          </svg>
        </a>
        {{ $title := (printf "%s by @Ivan Pepelnjak" .Title)|safeURL }}
        {{ $ln := printf "https://www.linkedin.com/shareArticle?mini=true&url=%s&title=%s" $url $title }}
        <a class='post__share-link' href='{{ $ln }}' target='_blank' title='Share to LinkedIn'>
          <svg class='post__share-icon'>
            <use xlink:href='#icon-linkedin'></use>
          </svg>
        </a>
        {{ $fb := printf "https://www.facebook.com/sharer/sharer.php?u=%s" $url }}
        <a class='post__share-link' href='{{ $fb }}' target='_blank' title='Share to Facebook'
          onclick='window.open(this.href, "_blank", "height=430,width=640"); return false;' target='_blank'
          title='Share to Facebook'>
          <svg class='post__share-icon'>
            <use xlink:href='#icon-facebook'></use>
          </svg>
        </a>
      </div>
    </div>
  </article>
</div>