{{ $full := .Scratch.Get "ArticleContext" }}
{{ if $full }}
{{   if .Params.comment }}
<div class='post__content' itemprop='articleComment' style='font-style: italic;'>
  {{ .Params.comment | markdownify }}
</div>
{{   end }}
{{ end }}
<header class='post__header'>
{{ partial "post-timestamp.html" . }}
  <h2 class='post__title' itemprop='name headline'>
    <a href="{{ or .Params.redirect .Permalink }}">{{ .Title }}</a>
  </h2>
  {{ with .Params.subtitle }}
    <p class='subtitle'>{{ . }}</p>
  {{ end }}
  {{ if .Draft }}
  <div class="warn">DRAFT</div>
  {{ end }}
</header>
