{{ if .Params.tags }}
<div class="related-posts">
  <h3>Recent posts in the same categories</h3>
  {{ $me := .Permalink }}
  {{ $scr:= newScratch }}
  {{ $scr.Set "links" $me }}
  <div id="related_posts">
    {{ range first 3 .Params.tags }}
      <h4><a href='{{ printf "/tag/%s/" (. | urlize) | absURL }}' rel='tag'>{{ . }}</a></h4>
      {{ with ($.Site.GetPage (printf "/tags/%s" ( . | urlize ))) }}
        <ul>
          {{ $scr.Set "relcnt" 0 }}
          {{ range first 10 .Pages.ByDate.Reverse }}
            {{ if not (in ($scr.Get "links") .Permalink) }}
              {{ $scr.Add "relcnt" 1 }}
              {{ if le ($scr.Get "relcnt") 6 }}
                {{ $scr.Add "links" .Permalink }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul> 
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}