<section class='sidebar__section sidebar-social'>
  <h3 class='sidebar__title'>Follow us</h3>
  <a class='social-link' href='https://twitter.com/ioshints'>
    <svg class='social-icon'>
      <use xlink:href='#icon-twitter'></use>
    </svg>
  </a>
  <a class='social-link' href='http://feed.ipspace.net/blog/'>
    <svg class='social-icon'>
      <use xlink:href='#icon-rss'></use>
    </svg>
  </a>
  <a class='social-link' href='https://www.ipspace.net/Subscribe/Five_SDN_Tips'>
    <svg class='social-icon'>
      <use xlink:href='#icon-mailinglist'></use>
    </svg>
  </a>
</section>
