<a class='open-sidebar' href='#'>Sidebar</a>
<aside class='sidebar'>
  <nav class='sidebar__mobile-nav'>
    <a class='close-sidebar' href=''>
      <svg class='close-icon'>
        <use xlink:href='#icon-close'></use>
      </svg>
    </a>
  </nav>
  {{ partialCached "sidebar-social.html" . }}
  <!-- partialCached "sidebar-subscribe.html" . -->
  {{ partialCached "sidebar-updated.html" . }}
  {{ partialCached "sidebar-featured.html" . }}
  {{ if not (.Params.minimal_sidebar) }}
    {{ partialCached "sidebar-popular.html" . }}
    {{ "/snippets/archive-sidebar.html" | readFile | safeHTML }}
    {{ "/snippets/tags-sidebar.html" | readFile | safeHTML }}
  {{ end }}
</aside>
