{{ $pages := where (where $.Site.Pages "Layout" "custom") "Params.sidebar_box" "!=" "skip" }}
<div class="widget BlogArchive">
  <h3 class="sidebar__title">Featured</h3>
  <ul>
  {{ range (where $pages "Params.sidebar_box" "!=" "nil").GroupByParam "sidebar_box" }}
    <li>
      <a class="open-dropdown" href='#'>
        {{ with index $.Site.Data.sidebar_lookup .Key }}{{ . }}{{ else }}{{ .Key }}{{ end }}</a>
      <ul class="dropdown">
    {{ range .Pages.ByTitle }}
        <li><a href='{{ .Permalink }}'>
          {{ with .Params.page_title }}{{ . }}{{ else }}{{ .Title }}{{ end }}
        </a></li>
    {{ end }}
      </ul>
    <li>
  {{ end }}
{{ $other := (where $pages "Params.sidebar_box" "==" nil) }}
{{ if (len $other) }}
    <li>
      <a class="open-dropdown" href='#'>Other Resources</a>
      <ul class="dropdown">
  {{ range $other.ByTitle }}
        <li><a href='{{ .Permalink }}'>
          {{ with .Params.page_title }}{{ . }}{{ else }}{{ .Title }}{{ end }}
        </a></li>
  {{ end }}
      </ul>
    </li>
{{ end }}
  </ul>
  <b><a href="/series.html">More...</a></b>
</div>
