<div class="widget BlogArchive">
  <h3 class="sidebar__title">Blog Archive</h3>
  <div id="ArchiveList">
    <ul>
      {{ range .Site.Pages.GroupByDate "2006" }}
        {{ $pages := where (where .Pages "Section" "posts") "Kind" "page" }}
        {{ if gt (len $pages) 0 }}
          <li>
            <a class="open-dropdown" href='{{ (printf "/%s/" .Key) | absURL }}'>{{ .Key }}
              <span class="post-count" dir="ltr">({{ len $pages }})</span>
            </a>
            <ul class="dropdown">
              {{ range $pages.GroupByDate "2006-01" }}
                {{ $time := (time (printf "%s-01" .Key)) }}
                <li>
                  <a class="open-dropdown" href='{{ ($time.Format "/2006/01/") | absURL }}'>
                    {{ $time.Format "January 2006" }}
                    <span class="post-count" dir="ltr">({{ len .Pages }})</span>
                  </a>
                </li>
              {{ end }}
            </ul>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div> 
</div>
