{{ $pages := where $.Site.Pages "Layout" "custom" }}
<div class="widget PopularPosts">
  <h3 class="sidebar__title">Featured</h3>
  <ul>
  {{ range (where $pages "Params.sidebar_box" "==" nil).ByTitle }}
    <li><a href='{{ .Permalink }}'>
      {{ with .Params.page_title }}{{ . }}{{ else }}{{ .Title }}{{ end }}
    </a></li>
  {{ end }}
  </ul>
</div>
<div class="widget PopularPosts">
  <h3 class="sidebar__title">Software-Defined Networking</h3>
  <ul>
  {{ range (where $pages "Params.sidebar_box" "==" "SDN") }}
    <li><a href='{{ .Permalink }}'>
      {{ with .Params.page_title }}{{ . }}{{ else }}{{ .Title }}{{ end }}
    </a></li>
  {{ end }}
  </ul>
</div>
