<!DOCTYPE html>
<head prefix="og: http://ogp.me/ns#">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <link href='https://www.ipspace.net/v3/images/favicon.ico' rel='shortcut icon' />
    <link href='https://www.ipspace.net/v3/images/favicon.gif' rel='shortcut icon' type='image/gif' />
    <link href="{{ .Permalink }}" rel='canonical' />
    <link rel="alternate" type="application/atom+xml" title="ipSpace.net - Atom" href="/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="ipSpace.net - RSS" href="/index.xml" />
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

    <title>{{ .Title }}</title>
    <meta charset='utf-8' />
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <meta name="robots" content="index,follow">
    <link href='https://www.ipspace.net/v3/css/blog.css?rev=3' rel='stylesheet' type='text/css' />
    <style>.footnoteNumber { display: none; }</style>
    <style>svg { display: none }</style>
</head>
<body>
    <div class='page-main-wrp'>
        <div class='container main'>
            <div class='page-content'>
                <div class='main section' id='main'>
                    <div class='blog-posts'>
