{{ partial "header.html" . }}
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $pages := $pages | union (where .Site.RegularPages "Params.alt_section" "in" .Site.Params.mainSections) }}
{{ $pages := $pages.ByDate.Reverse }}
{{ $pag := .Paginate $pages }}
{{ $full := .Scratch.Get "ArticleContext" }}
<style>a.footnote-ref { display: none; }</style>
{{ range $index,$page := $pag.Pages }}
  {{ .Scratch.Set "ArticleContext" 0 }}
  {{ partial "post-content.html" $page }}
{{ end }}
{{ partial "post-pagination.html" . }}
{{ partial "footer.html" . }}
