<div class='migrated'>
  The following text written by Ivan Pepelnjak 
  {{ if (not (.Get "noyear")) }}in {{ dateFormat "2006" .Page.Date }}{{ end }}
  was originally published on
  CT3 wiki. That web site became unreachable in early 2019. We retrieved the original text
  from the Internet Archive, cleaned it up, updated it with recent information if necessary,
  and republished it on ipSpace.net blog
  {{ if .Page.Params.rescued }}
    on {{ dateFormat "January 2, 2006" .Page.Params.rescued }}
  {{ else if .Page.Params.lastmod }}
    on {{ with .Page.Lastmod }}{{ dateFormat "January 2, 2006" . }}{{ end }}
  {{ end }}
</div>